---
import CategoryCard from '../components/CategoryCard.astro'
---
<div class="grid grid-cols-4 gap-4">
	<CategoryCard imagePath="/src/assets/image-1.webp" altText="altText" CategoryName="Meals" Description="This is a description of Meals" />
	<CategoryCard imagePath="/src/assets/image-2.jpg" altText="altText" CategoryName="Burgers" Description="This is a description of Burgers" />
</div>
